<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>quantityUnit</key>
	<array>
		<string>ml</string>
		<string>g</string>
	</array>
	<key>elements</key>
	<array>
		<dict>
			<key>elementName</key>
			<string>侧柏</string>
			<key>quantity</key>
			<integer>5</integer>
			<key>elementImage</key>
			<string>侧柏</string>
			<key>cost</key>
			<integer>175</integer>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>罗勒</string>
			<key>elementImage</key>
			<string>罗勒</string>
			<key>quantity</key>
			<integer>15</integer>
			<key>cost</key>
			<integer>160</integer>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>佛手柑</string>
			<key>elementImage</key>
			<string>佛手柑</string>
			<key>quantity</key>
			<integer>15</integer>
			<key>cost</key>
			<integer>220</integer>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>黑胡椒</string>
			<key>elementImage</key>
			<string>黑胡椒</string>
			<key>quantity</key>
			<integer>5</integer>
			<key>cost</key>
			<integer>180</integer>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>小豆蔻</string>
			<key>elementImage</key>
			<string>小豆蔻</string>
			<key>quantity</key>
			<integer>5</integer>
			<key>cost</key>
			<integer>205</integer>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>桂皮</string>
			<key>elementImage</key>
			<string>桂皮</string>
			<key>quantity</key>
			<integer>15</integer>
			<key>cost</key>
			<integer>150</integer>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>雪松</string>
			<key>elementImage</key>
			<string>雪松</string>
			<key>quantity</key>
			<integer>15</integer>
			<key>cost</key>
			<real>102.5</real>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>芫荽叶</string>
			<key>elementImage</key>
			<string>芫荽叶</string>
			<key>quantity</key>
			<integer>15</integer>
			<key>cost</key>
			<integer>210</integer>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>肉桂皮油</string>
			<key>elementImage</key>
			<string>肉桂皮油</string>
			<key>quantity</key>
			<integer>5</integer>
			<key>cost</key>
			<integer>170</integer>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>快乐鼠尾草</string>
			<key>elementImage</key>
			<string>快乐鼠尾草</string>
			<key>quantity</key>
			<integer>15</integer>
			<key>cost</key>
			<integer>290</integer>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>丁香花蕾</string>
			<key>elementImage</key>
			<string>丁香花蕾</string>
			<key>quantity</key>
			<integer>15</integer>
			<key>cost</key>
			<integer>110</integer>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>芫荽油</string>
			<key>elementImage</key>
			<string>芫荽油</string>
			<key>quantity</key>
			<integer>15</integer>
			<key>cost</key>
			<integer>210</integer>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>丝柏</string>
			<key>elementImage</key>
			<string>丝柏</string>
			<key>quantity</key>
			<integer>15</integer>
			<key>cost</key>
			<integer>125</integer>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>道格拉斯冷杉</string>
			<key>elementImage</key>
			<string>道格拉斯冷杉</string>
			<key>quantity</key>
			<integer>5</integer>
			<key>cost</key>
			<integer>180</integer>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>尤加利树</string>
			<key>elementImage</key>
			<string>尤加利树</string>
			<key>quantity</key>
			<integer>15</integer>
			<key>cost</key>
			<integer>110</integer>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>小茴香</string>
			<key>elementImage</key>
			<string>小茴香</string>
			<key>quantity</key>
			<integer>15</integer>
			<key>cost</key>
			<integer>120</integer>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>分馏椰子油</string>
			<key>elementImage</key>
			<string>分馏椰子油</string>
			<key>quantity</key>
			<integer>115</integer>
			<key>cost</key>
			<integer>125</integer>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>乳香油</string>
			<key>elementImage</key>
			<string>乳香油</string>
			<key>quantity</key>
			<integer>15</integer>
			<key>cost</key>
			<integer>560</integer>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>天竺葵油</string>
			<key>elementImage</key>
			<string>天竺葵油</string>
			<key>quantity</key>
			<integer>15</integer>
			<key>cost</key>
			<integer>215</integer>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>生姜油</string>
			<key>elementImage</key>
			<string>生姜油</string>
			<key>quantity</key>
			<integer>15</integer>
			<key>cost</key>
			<integer>315</integer>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>柚皮油</string>
			<key>elementImage</key>
			<string>柚皮油</string>
			<key>quantity</key>
			<integer>15</integer>
			<key>cost</key>
			<integer>160</integer>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>永久花</string>
			<key>elementImage</key>
			<string>永久花</string>
			<key>quantity</key>
			<integer>5</integer>
			<key>cost</key>
			<integer>665</integer>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>杜松浆果</string>
			<key>elementImage</key>
			<string>杜松浆果</string>
			<key>quantity</key>
			<integer>5</integer>
			<key>cost</key>
			<integer>135</integer>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>薰衣草</string>
			<key>elementImage</key>
			<string>薰衣草</string>
			<key>quantity</key>
			<integer>15</integer>
			<key>cost</key>
			<integer>170</integer>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>柠檬</string>
			<key>elementImage</key>
			<string>柠檬</string>
			<key>quantity</key>
			<integer>15</integer>
			<key>cost</key>
			<integer>80</integer>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>依兰</string>
			<key>elementImage</key>
			<string>依兰</string>
			<key>quantity</key>
			<integer>15</integer>
			<key>cost</key>
			<integer>300</integer>
			<key>quantity_unit</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>透明甘油皂基</string>
			<key>elementImage</key>
			<string>透明甘油皂基</string>
			<key>quantity</key>
			<integer>500</integer>
			<key>cost</key>
			<integer>10</integer>
			<key>quantity_unit</key>
			<string>g</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>白色甘油皂基</string>
			<key>elementImage</key>
			<string>白色甘油皂基</string>
			<key>quantity</key>
			<integer>500</integer>
			<key>cost</key>
			<integer>10</integer>
			<key>quantity_unit</key>
			<string>g</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>紫色珠光粉</string>
			<key>elementImage</key>
			<string>紫色珠光粉</string>
			<key>quantity</key>
			<integer>50</integer>
			<key>cost</key>
			<real>14.85</real>
			<key>quantity_unit</key>
			<string>g</string>
		</dict>
		<dict>
			<key>elementName</key>
			<string>玫瑰花粉</string>
			<key>elementImage</key>
			<string>玫瑰花粉</string>
			<key>quantity</key>
			<integer>100</integer>
			<key>cost</key>
			<real>11.88</real>
			<key>quantity_unit</key>
			<string>g</string>
		</dict>
	</array>
	<key>products</key>
	<array>
		<dict>
			<key>productName</key>
			<string>精油皂</string>
			<key>productImage</key>
			<string>product.png</string>
			<key>createdDate</key>
			<date>2016-05-14T01:05:06Z</date>
			<key>composition</key>
			<array>
				<dict>
					<key>elementName</key>
					<string>侧柏</string>
					<key>elementImage</key>
					<string>侧柏</string>
					<key>quantity</key>
					<integer>3</integer>
					<key>cost</key>
					<integer>0</integer>
					<key>quantity_unit</key>
					<string>ml</string>
				</dict>
				<dict>
					<key>elementName</key>
					<string>罗勒</string>
					<key>elementImage</key>
					<string>罗勒</string>
					<key>quantity</key>
					<integer>7</integer>
					<key>cost</key>
					<integer>0</integer>
					<key>quantity_unit</key>
					<string>ml</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
